In [1]:
import pandas as pd
import numpy as np
AUC_THRESHOLD = 0.7

In [2]:
df = pd.read_csv("Consolidated data for figures - 2020_09_23_hit_rate_top_rank_late_max_fusion_annotated.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2116 entries, 0 to 2115
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   assay_id           2116 non-null   object
 1   top_rank_hit_rate  2116 non-null   float64
 2   descriptor         2116 non-null   object
 3   readouts           1504 non-null   float64
 4   hits               1504 non-null   float64
 5   hit_rate           1504 non-null   float64
 6   ASSAY_TYPE         704 non-null    object
 7   auc                1504 non-null   float64
dtypes: float64(5), object(3)
memory usage: 132.4+ KB

In [3]:
df[df.auc > AUC_THRESHOLD].groupby("descriptor").count()

,assay_id,top_rank_hit_rate,readouts,hits,hit_rate,ASSAY_TYPE,auc
descriptor,,,,,,,
CS+GE,152,152,152,152,152,68,152
CS+GE+MO,200,200,200,200,200,76,200
CS+MO,200,200,200,200,200,91,200
GE+MO,197,197,197,197,197,68,197

In [4]:
df2 = pd.read_csv("Consolidated data for figures - auc 0.7 0.9 all assays Early Fusion.csv")
df2

     assay_id  auc descriptor  hits  auc_70  auc_90  readouts  hit_rate
0     104_296  1.0         CP     5    True    True        11  0.454545
1     104_308  1.0         CP     6    True    True        11  0.545455
2     104_310  1.0         CP     4    True    True        11  0.363636
3     104_312  1.0         CP     6    True    True        11  0.545455
4       11_21  1.0         CP     1    True    True        13  0.076923
...       ...  ...        ...   ...     ...     ...       ...       ...
2627  145_497  0.0      CP+MO     1   False   False         9  0.111111
2628    10_20  0.0         MO     1   False   False        17  0.058824
2629  105_342  0.0         MO     1   False   False        15  0.066667
2630  116_426  0.0         MO     1   False   False        26  0.038462
2631  145_497  0.0         MO     1   False   False         9  0.111111

[2632 rows x 8 columns]

In [5]:
df3 = pd.read_csv("Consolidated data for figures - 2020-09-08-hit-rate-ranked Early Fusion.csv")
df3

     assay_id  top_rank_hit_rate descriptor
0         1_1                0.0         CS
1       10_19                0.0         CS
2       10_20                0.0         CS
3     100_277                1.0         CS
4     100_278                0.0         CS
...       ...                ...        ...
3698   90_256                0.0         MO
3699   91_257                0.0         MO
3700   92_258                0.0         MO
3701   93_259                0.0         MO
3702   97_270                0.0         MO

[3703 rows x 3 columns]

In [6]:
df4 = pd.merge(df2,df3, on=["assay_id","descriptor"], how="left")
df4

,assay_id,auc,descriptor,hits,auc_70,auc_90,readouts,hit_rate,top_rank_hit_rate
0,104_296,1.0,CP,5,True,True,11,0.454545,NaN
1,104_308,1.0,CP,6,True,True,11,0.545455,NaN
2,104_310,1.0,CP,4,True,True,11,0.363636,NaN
3,104_312,1.0,CP,6,True,True,11,0.545455,NaN
4,11_21,1.0,CP,1,True,True,13,0.076923,NaN
...,...,...,...,...,...,...,...,...,...
2627,145_497,0.0,CP+MO,1,False,False,9,0.111111,NaN
2628,10_20,0.0,MO,1,False,False,17,0.058824,0.0
2629,105_342,0.0,MO,1,False,False,15,0.066667,0.0
2630,116_426,0.0,MO,1,False,False,26,0.038462,0.0
2631,145_497,0.0,MO,1,False,False,9,0.111111,0.0

In [7]:
df4[df4.auc > AUC_THRESHOLD].groupby("descriptor").count()

,assay_id,auc,hits,auc_70,auc_90,readouts,hit_rate,top_rank_hit_rate
descriptor,,,,,,,,
CP,174,174,174,174,174,174,174,0
CP+GE,104,104,104,104,104,104,104,0
CP+GE+MO,217,217,217,217,217,217,217,0
CP+MO,214,214,214,214,214,214,214,0
GE,110,110,110,110,110,110,110,110
GE+MO,192,192,192,192,192,192,192,192
MO,194,194,194,194,194,194,194,194

In [8]:
data = pd.concat([df, df4[df4.descriptor.isin(["CP","GE","MO"])]])

data[data.auc > AUC_THRESHOLD].groupby("descriptor").count()

,assay_id,top_rank_hit_rate,readouts,hits,hit_rate,ASSAY_TYPE,auc,auc_70,auc_90
descriptor,,,,,,,,,
CP,174,0,174,174,174,0,174,174,174
CS+GE,152,152,152,152,152,68,152,0,0
CS+GE+MO,200,200,200,200,200,76,200,0,0
CS+MO,200,200,200,200,200,91,200,0,0
GE,110,110,110,110,110,0,110,110,110
GE+MO,197,197,197,197,197,68,197,0,0
MO,194,194,194,194,194,0,194,194,194

In [9]:
len(
    data[(data.descriptor.isin(["CP","GE","CS+GE"])) & (data.auc > AUC_THRESHOLD)].assay_id.unique()
)

240

In [10]:
len(
    data[(data.descriptor.isin(["CP","MO","CS+MO"])) & (data.auc > AUC_THRESHOLD)].assay_id.unique()
)

253

In [11]:
len(
    data[(data.descriptor.isin(["GE","MO","GE+MO"])) & (data.auc > AUC_THRESHOLD)].assay_id.unique()
)

245

In [12]:
len(
    data[(data.auc > AUC_THRESHOLD)].assay_id.unique()
)

292